@font-face {
  font-family: 'PR Number 3';
  src: url('PRNumber3.ttf');
}

body {
	font-family: 'PR Number 3',Tahoma, Geneva;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 20px;
	color: white;
	background-color: black;
}

a {
	color: white;
}

p,ul {
	width: 500px;
}

ul {
	line-height: 130%;
}

h2 {
	color:gray;
}
